<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="icon" type="image.png"
        href="https://icons.iconarchive.com/icons/iconarchive/cute-animal/512/Cute-Horse-icon.png">


    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="root"></div>

    <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>

    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    <script src="../../util/formatTime.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="../../util/generateId.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>

    <script src="../../data/deletePost.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="../../data/findPost.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="../../data/findPosts.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="../../data/findUser.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="../../data/insertPost.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="../../data/insertUser.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="../../data/updatePost.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="../../data/updateUser.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="../../data/index.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>

    <script src="../../logic/getAllPosts.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="../../logic/getUserName.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="../../logic/getUserUsername.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="../../logic/loginUser.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="../../logic/logoutUser.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="../../logic/registerUser.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="../../logic/toggleLikePost.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="../../logic/updatePostCaption.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="../../logic/createPost.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="../../logic/deletePost.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="../../logic/toggleFavPost.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="../../logic/getAllFavPosts.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="../../logic/toggleFollowUser.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="../../logic/getAllPoniesPosts.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="../../logic/index.mjs" type="text/babel" data-plugins="transform-modules-umd"></script>

    <script src="./component/Header.jsx" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="./component/Post.jsx" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="./component/PostList.jsx" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="./component/PoniesPostList.jsx" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="./component/FavsPostList.jsx" type="text/babel" data-plugins="transform-modules-umd"></script>
    <script src="./component/Footer.jsx" type="text/babel" data-plugins="transform-modules-umd"></script>

    <script src="index.jsx" type="text/babel" data-plugins="transform-modules-umd"></script>
</body>

</html>