body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


.view {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 1.1rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    min-width: 80%;
}

.form__field {
    display: flex;
    flex-direction: column;
    gap: .2rem;

}

.form__input {
    font-size: inherit;
}

.form__button {
    font-size: smaller;
}


.post-list {
    display: flex;
    flex-direction: column;
    width: 85%;
    max-width: 500px;
    gap: 1rem;
    box-sizing: border-box;
}

.post {
    border: 1px solid #ffff00;
    box-shadow: 3px 1px 9px 0px #ff000045;
}

.post__top {
    display: flex;
    margin: 0 .5rem;
    align-items: center;
    gap: .5rem;
}

.post__author {
    /*height: .5rem;*/
}

.post__image {
    width: 100%;
}

.post__caption {
    margin: .5rem;
}

.post__actions {
    margin: .5rem;
    display: flex;
    gap: .5rem;
}

.post__time {
    display: block;
    margin: .5rem;
    color: silver;
    font-size: .9rem;
}

h3 {
    display: flex;
    font-size: medium;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 4px;
    margin-inline-end: 4px;
    font-weight: revert-layer;
    unicode-bidi: isolate;
}

button {
    /* hacer algo con los botones*/
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1rem;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px lightgray;
    /*pride*/
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
}


.header__user-name {
    margin: 1px;
    color: aliceblue;
}

.main {
    margin-top: 3.5rem;
    margin-bottom: 3rem;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    padding: .5rem 0;
    box-shadow: 0px -1px 1px lightgray;
    /*pride*/
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);

}

.create-post-section {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: .5rem;
    box-sizing: border-box;
}

.create-post-section__title {
    margin: .5rem 0;
}

.create-post-section__buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}