body {
    background-color: rgb(255, 179, 97);
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    width: 600px;
    height: 600px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    margin-top: 50px;
}

.row {
    width: 600px;
    height: 75px;
    display: flex;
    flex-direction: row;
}

.black_tile {
    width: 75px;
    height: 75px;
    background-color: rgb(50, 50, 50);
    display: flex
}

.white_tile {
    width: 75px;
    height: 75px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}



#pawn_black {
    width: 75px;
    height: 75px;
    background-image: url(imagenes/pawn-b.svg);
    background-size: 75px 75px;
}

#pawn_white {
    width: 75px;
    height: 75px;
    background-image: url(imagenes/pawn-w.svg);
    background-size: 75px 75px;
}



#rook_black {
    width: 75px;
    height: 75px;
    background-image: url(imagenes/rook-b.svg);
    background-size: 75px 75px;
}

#rook_white {
    width: 75px;
    height: 75px;
    background-image: url(imagenes/rook-w.svg);
    background-size: 75px 75px;
}



#knight_black {
    width: 75px;
    height: 75px;
    background-image: url(imagenes/knight-b.svg);
    background-size: 75px 75px;
}

#knight_white {
    width: 75px;
    height: 75px;
    background-image: url(imagenes/knight-w.svg);
    background-size: 75px 75px;
}



#bishop_black {
    width: 75px;
    height: 75px;
    background-image: url(imagenes/bishop-b.svg);
    background-size: 75px 75px;
}

#bishop_white {
    width: 75px;
    height: 75px;
    background-image: url(imagenes/bishop-w.svg);
    background-size: 75px 75px;
}



#queen_black {
    width: 75px;
    height: 75px;
    background-image: url(imagenes/queen-b.svg);
    background-size: 75px 75px;
}

#queen_white {
    width: 75px;
    height: 75px;
    background-image: url(imagenes/queen-w.svg);
    background-size: 75px 75px;
}



#king_black {
    width: 75px;
    height: 75px;
    background-image: url(imagenes/king-b.svg);
    background-size: 75px 75px;
}

#king_white {
    width: 75px;
    height: 75px;
    background-image: url(imagenes/king-w.svg);
    background-size: 75px 75px;
}