body {
    background-color: rgb(255, 179, 97);
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.grid_border {
    width: 650px;
    height: 650px;
    background-color: rgb(255, 179, 97);
    margin: 0 auto;
    display: grid;
    grid-template: 1fr 50px / 50px 1fr;
}

.left_letters {
    width: 50px;
    height: 600px;
    display: grid;
    grid-template-rows: repeat(8, 75px);
    grid-column-start: 1;
    grid-row-start: 1;
    align-items: center;
    justify-content: center;
}

.bottom_letters {
    width: 600px;
    height: 50px;
    display: grid;
    grid-template-columns: repeat(8, 75px);
    grid-column-start: 2;
    grid-row-start: 2;
    align-items: center;
    justify-content: center;
}

.left_letters p {
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

.bottom_letters p {
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

.grid {
    width: 600px;
    height: 600px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    grid-column-start: 2;
    grid-row-start: 1;
    /* margin: 0 auto; */
    display: grid;
    grid-template: repeat(8, 75px) / repeat(8, 75px);
}

.left_margin {
    width: 50px;
    height: 600px;
    background-color: rgb(255, 179, 97);
}

.black_tile {
    width: 75px;
    height: 75px;
    background-color: rgb(50, 50, 50);
    display: flex
}

.white_tile {
    width: 75px;
    height: 75px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}



.pawn_black {
    width: 75px;
    height: 75px;
    background-image: url(imagenes/pawn-b.svg);
    background-size: 75px 75px;
    position: relative;
}

.pawn_white {
    width: 75px;
    height: 75px;
    background-image: url(imagenes/pawn-w.svg);
    background-size: 75px 75px;
    position: relative;
}



.rook_black {
    width: 75px;
    height: 75px;
    background-image: url(imagenes/rook-b.svg);
    background-size: 75px 75px;
    position: relative;
}

.rook_white {
    width: 75px;
    height: 75px;
    background-image: url(imagenes/rook-w.svg);
    background-size: 75px 75px;
    position: relative;
}



.knight_black {
    width: 75px;
    height: 75px;
    background-image: url(imagenes/knight-b.svg);
    background-size: 75px 75px;
    position: relative;
}

.knight_white {
    width: 75px;
    height: 75px;
    background-image: url(imagenes/knight-w.svg);
    background-size: 75px 75px;
    position: relative;
}



.bishop_black {
    width: 75px;
    height: 75px;
    background-image: url(imagenes/bishop-b.svg);
    background-size: 75px 75px;
    position: relative;
}

.bishop_white {
    width: 75px;
    height: 75px;
    background-image: url(imagenes/bishop-w.svg);
    background-size: 75px 75px;
    position: relative;
}



.queen_black {
    width: 75px;
    height: 75px;
    background-image: url(imagenes/queen-b.svg);
    background-size: 75px 75px;
    position: relative;
}

.queen_white {
    width: 75px;
    height: 75px;
    background-image: url(imagenes/queen-w.svg);
    background-size: 75px 75px;
    position: relative;
}



.king_black {
    width: 75px;
    height: 75px;
    background-image: url(imagenes/king-b.svg);
    background-size: 75px 75px;
    position: relative;
}

.king_white {
    width: 75px;
    height: 75px;
    background-image: url(imagenes/king-w.svg);
    background-size: 75px 75px;
    position: relative;
}