/* save button */

.Save--button {
    border: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: white;
    box-sizing: content-box;
}

.Save--active {
    display: inline-block;
    width: 24px;
    height: 24px;
    aspect-ratio: 1;
    clip-path: polygon(0% 0%, 0% 100%, 50% 70%, 100% 100%, 100% 0%);
    border: 0px;
    background-color: black;
}

.Save--inactive {
    display: inline-block;
    width: 24px;
    height: 24px;
    aspect-ratio: 1;
    clip-path: polygon(0% 0%, 0% 100%, 50% 70%, 100% 100%, 100% 0%);
    border: 0px;
    background-color: silver;
}