.Header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: .2rem;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px lightgray;
    padding: .5rem 0;
    z-index: 10;
}

.Header--login {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2rem;
    background: linear-gradient(to right, #A02BE8, #2fd5d5);
    font-family: 'Over the Rainbow';
    color: white;
    font-size: 30px;
}