<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

    <link rel="stylesheet" href="index.css" />
  </head>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Over+the+Rainbow&display=swap");

    @import url("https://fonts.googleapis.com/css2?family=Over+the+Rainbow&display=swap");
  </style>

  <body>
    <script src="index.mjs" type="module"></script>
  </body>
</html>
