@import url("./components/Button.css");

@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Over+the+Rainbow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Over+the+Rainbow&display=swap");



body {
    font-family: 'Advent pro';

}

.view {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 1.1rem;

}

.form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    min-width: 80%;
    margin-bottom: 0%;

}

.form__field {
    display: flex;
    flex-direction: column;
    gap: .2rem
}

.form__input {
    font-size: inherit;
    border-radius: 5px;
    border: none;
    color: #000000;
    padding: .2rem;
    box-shadow: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form__caption-input {
    font-size: inherit;
    border-radius: 5px;
    border: none;
    color: #000000;
    padding: .2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 50px;
}


.form__button {
    font-size: inherit;
    border-radius: 5px;
    border: none;
    background: linear-gradient(to right, #A02BE8, #2fd5d5);
    color: white;
    padding: .2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 1rem;

}

.post-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.post {
    box-shadow: 1px 1px 10px 1px lightgray;
}

.post__top {
    display: flex;
    margin: 0.5rem;
    align-items: center;
    gap: 0.5rem;
    justify-content: space-between;

}

.post__author {
    margin: .5rem;

}

.post__image {
    width: 100%;
}

.post__caption {
    margin: .5rem;
}

.post__actions {
    margin: .5rem;
}

.post__time {
    display: block;
    margin: .5rem;
    color: silver;
    font-size: .9rem;
}

.add-post-button {
    background: linear-gradient(to right, #A02BE8, #2fd5d5);
    color: white;
    border-radius: 5px;
    width: 50px;
    height: 30px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.post__actions {
    display: flex;
    justify-content: space-around;
}

.like-button {
    background-color: transparent;
    border: none;

    box-shadow: 1px 1px 10px 1px lightgray;
    border-radius: 5px;

}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px lightgray;
    padding: .4rem;
}

.logout-button {
    background: linear-gradient(to right, #A02BE8, #2fd5d5);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: none;
    height: 25px;
}

.header__user-name {
    margin: 0;
}

.logo {
    color: linear-gradient(to right, #A02BE8, #2fd5d5);
    font-family: 'Over the Rainbow';
    height: 20px;
    margin: -30px 0 10px -5px;
}

.main {
    margin-top: 3.5rem;
    margin-bottom: 3rem;

}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    padding: .5rem 0;
    box-shadow: 0px -1px 1px lightgray
}

.create-post-section {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: .5rem;
    box-sizing: border-box;

}

.create-post-section__title {
    margin: .5rem 0;
}

.create-post-section__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;

}