body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
   flex-flow:column-reverse;
   
   
}
.bodywork{
    background: rgb(35, 124, 151);
    width: 300px;
    height: 100px;
    flex-direction: row;
    display: flex;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    justify-content: center;
    
}

.doors{
    background: rgb(35, 124, 151);
    width: 60px;
    height: 80%;
    border: 2px solid black;
}

.roof{
    background:rgb(35, 124, 151) ;
    width: 200px;
    height: 70px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    flex-flow: wrap-reverse;
}

.windows{
    background: rgb(182, 251, 255);
    border: 2px solid black;
    width: 30%;
    height: 60%;
    
}

.wheels-container{
    width: 200px;
    height: 100px;
    display: flex;
    
    justify-content: space-between;
   

}

.wheels{
    background: black;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;

}

.tires{
    background: grey;
    width: 40px;
    height: 40px;
    align-self: center;
    border-radius: 50%;
}