.CreatePost {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #F981FB;
    padding: .5rem;
    box-sizing: border-box;
    border-radius: 15px;
}

/* .create-post-section__title { -- Heading
    display: flex;
    margin: .5rem 0;
    justify-content: center;
}

.create-post-section__buttons { --- container
    display: flex;
    justify-content: center;
    gap: 1rem;

} */