.Button {
    background: white;
    color: black;
    border-radius: 5px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.219);
    padding: .2rem .5rem;

}

.Button--add {
    background: linear-gradient(to right, #A02BE8, #2fd5d5);
    color: white;
    border-radius: 5px;
    width: 50px;
    height: 30px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Button--active {
    background-color: rgb(231, 230, 237);
}

.Button--logout {
    background: linear-gradient(to right, #A02BE8, #2fd5d5);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: none;
    height: 25px;
    margin-right: .5rem;
}

.Button--section {
    font-size: inherit;
    border-radius: 5px;
    border: none;
    background: linear-gradient(to right, #A02BE8, #2fd5d5);
    color: white;
    padding: .2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 1rem;
}