.Form {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    min-width: 80%;
    margin-bottom: 0%;
}

.Form--edit {
    display: flex;
    flex-direction: column;
    min-width: 80%;
    margin: 0 .5rem;
    padding: 0;
    font-size: 16px;
}