.Input {
    font-size: inherit;
    border-radius: 5px;
    border: none;
    color: #000000;
    padding: .2rem;
    box-shadow: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Input--caption {
    border-radius: 5px;
    border: none;
    color: #000000;
    padding: .2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 50px;
}