h1{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(61, 139, 93);
    text-align: center;
}

h2{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(83, 196, 117);
    text-align: center;
}

h3{
    font-family: 'Courier New', Courier, monospace;
    color: darkolivegreen;
}

h4{
    font-family: 'Courier New', Courier, monospace;
    color: darkgreen;
}

body{
    background-color: rgb(255, 255, 249);
}

article{
    font-family: sans-serif;
    color: darkcyan;  
}

form{
    font-family: sans-serif;
    color: darkgreen ;
}
input{
    color: darkgreen ;
}

button{
    font-family: sans-serif;
    color:rgb(255, 255, 255);
    background: rgb(138, 171, 173);
    border: none;
    border-radius: 20px;
    padding: 7px;
    margin-top: 7px;
    margin-left: 27%;
    width: 150px;
}
