body{
    background: rgb(49, 51, 52);
    color: rgb(119, 192, 194);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    color:rgb(167, 90, 167);
}
h2{
    font-size: 20px;
    color:rgb(167, 90, 167);}

ul{
    font-size: 12px;
    list-style-type: disc;
    list-style-type: square;
}

a{
    color: rgb(119, 192, 194);
    cursor: pointer;
}

a:visited{
    color: aqua;

}

a:active{
    background: lightblue;
    color: cyan;
}
