<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

    <link rel="stylesheet" href="style.css">
</head>

<body>
    <script src="../../util/formatTime.js"></script>
    <script src="../../util/generateId.js"></script>

    <script src="../../logic/index.js"></script>
    <script src="../../logic/getUserName.js"></script>
    <script src="../../logic/logoutUser.js"></script>
    <script src="../../logic/creatPost.js"></script>
    <script src="../../logic/getAllPost.js"></script>
    <script src="../../logic/getUserUsername.js"></script>
    <script src="../../logic/deletePost.js"></script>
    <script src="../../logic/updatePostCaption.js"></script>
    <script src="../../logic/toggleLikePost.js"></script>
    <script src="../../logic/removeLike.js"></script>


    <script src="../Component.js"></script>

    <script src="../components/Paragraph.js"></script>
    <script src="../components/Button.js"></script>
    <script src="../components/Form.js"></script>
    <script src="../components/Image.js"></script>
    <script src="../components/Input.js"></script>
    <script src="../components/Heading.js"></script>
    <script src="../components/Section.js"></script>
    <script src="../components/Label.js"></script>
    <script src="../components/Author.js"></script>
    <script src="../components/Time.js"></script>
    <script src="../components/Link.js"></script>
    <script src="../components/Article.js"></script>

    <script src="./component/Header.js"></script>
    <script src="./component/PostList.js"></script>
    <script src="./component/Post.js"></script>
    <script src="./component/Footer.js"></script>

    <script src="main.js"></script>
</body>

</html>