.padre{
    display: flex;
    flex-direction: row;
   justify-content: space-evenly;
    background-image: url("public/pared.png") ;
    align-items: center;
    width: 300px;
    height: 300px; 
}

.hijo{
    background-image: url("public/ventana.png") ;
    background-size: cover;
    background-position: center;
     width: 100px;
    height: 100px;
}

.padre2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: url("public/pared.png") ;
    align-items: end;
    width: 300px;
    height: 300px;

}
.hijo2{
    background-image: url("public/puerta2.png");
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 200px;

}

