.Button {
    background: white;
    color: black;
    border-radius: 5px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: .25rem .5rem;

}

.Button--active {
    background-color: rgb(231, 230, 237);
}