@import url('../components/Input.css');
@import url('../components/Heading.css');
@import url('../components/Button.css');
@import url('../components/Form.css');

@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Over+the+Rainbow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Over+the+Rainbow&display=swap");


body {
    margin: 0;

}

.view {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 1.1rem;
    font-family: 'Advent pro';
    color: #A02BE8;
    height: 100vh;
    background: linear-gradient(to bottom left, rgb(251, 245, 252), rgb(192, 217, 255));

}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2rem;
    background: linear-gradient(to right, #A02BE8, #2fd5d5);
    font-family: 'Over the Rainbow';
    color: white;
    font-size: 30px;
}

.view h1 {
    align-self: flex-start;
    margin-left: 1rem;
    position: relative;
    top: 2rem;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #5834e7;
}


.form__field {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}