.Time {
    display: block;
    margin: .5rem;
    color: gray;
    font-family: solid Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: .9rem;

}