.Input {
    font-size: inherit;
    background-color: #FEE5FF;
    border-radius: 7px;
    border-color: #F981FB;
    box-shadow: #F981FB;
    height: 20px;
    padding: 5px;
}



/* .Input { manu
    border: 1px solid lightgray;
    border-radius: .25rem;
    font-size: inherit;
}  */

.Input--full-width {
    width: 100%;
}