<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <link rel="stylesheet" href="index.css">
</head>

<body>
    <script src="../../classes/Component.js"></script>
    <script src="../../classes/Main.js"></script>
    <script src="../../classes/Text.js"></script>
    <script src="../../classes/Form.js"></script>
    <script src="../../classes/Divider.js"></script>
    <script src="../../classes/Label.js"></script>
    <script src="../../classes/Input.js"></script>
    <script src="../../classes/Button.js"></script>

    <script src="../../logic/registerUser.js"></script>
    <script src="index.js"></script>
</body>

</html>