body {
    margin: 0;
}

.view {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 1.1rem;
    background-color: rgb(184, 130, 148);
    height: 100vh;
}

h1 {

    font-style: italic;
    color: purple;
}

.form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    min-width: 80%;
}

.form__field {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    font-weight: bold;
}

.form__input {
    font-size: inherit;
}

.form__button {
    border-radius: 15px;
    font-size: inherit;
    background-color: lightgray;
    font-weight: bold;
}