.view {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 1.1rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    min-width: 80%;
}

.form__field {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.form__input {
    font-size: inherit;
}

.form__button {
    font-size: inherit;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 3rem 0;
}