.View--register {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    font-size: 1.1rem;
    background: linear-gradient(125deg, #9E58F9 10%, blue 50%, #007FFF 80%);
}

.View--register .Heading {
    color: rgb(244, 244, 244);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}

.View--register .Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 80%;
    max-width: 230px;
}

.View--register .Container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.View--register .Label {
    color: black;
}

.View--register .Input {
    font-size: inherit;
    padding: 0.3rem 5px;
    border-radius: 3px;
    box-shadow: 0 1px 5px 2px black;
    border: 0;
}

.View--register .Input:hover {
    background-color: rgb(136, 237, 255);
}

.View--register .Button--register {
    font-size: inherit;
    margin-top: 2px;
    padding: 0.3rem 5px;
    border-radius: 3px;
    box-shadow: 0 1px 5px 2px black;
    border: 0;
}

.View--register .Button--register:hover {
    background-color: rgba(255, 66, 208, 0.799);
}