<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <style>

    </style>
</head>

<body>
    <h1>Home</h1>
    <section id="button-section">
        <button id="logout-button">Logout</button>
        <button id="add-post-button">Add Post</button>
    </section>

    <script src="../../utils/formatTime.js"></script>
    <script src="../../utils/generateId.js"></script>

    <script src="../../logic/editPost.js"></script>
    <script src="../../logic/getUserUsername.js"></script>
    <script src="../../logic/setAllPosts.js"></script>
    <script src="../../logic/getAllPosts.js"></script>
    <script src="../../logic/deletePosts.js"></script>
    <script src="../../logic/addPost.js"></script>
    <script src="../../logic/getUserName.js"></script>
    <script src="../../logic/logoutUser.js"></script>

    <script src="index.js"></script>
</body>

</html>