.Container {
    display: flex;
    gap: .5rem;
    padding: 0 .5rem;
}

.Container--left {
    justify-content: left;
}

.Container--center {
    justify-content: center;
}

.Container--column {
    flex-direction: column;
}

.Container--column-center {
    align-items: center;
}

.Container--column-left {
    align-items: start;
}




/* .Container {
    padding: 0 .5rem;
    display: flex;
    gap: .5rem;
    align-items: center;

} */


/* .Container--field {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0;
    gap: .2rem;
} */