.Label {
    display: flex;
    flex-direction: column;
    color: rgb(60, 9, 44);
    gap: .2rem;
    font-weight: bold;
    font-family: solid Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 3px;
}