<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="index.css">
</head>

<body>
    <script src="../../classes/Component.js"></script>
    <script src="../../classes/Header.js"></script>
    <script src="../../classes/Fader.js"></script>
    <script src="../../classes/Paragraph.js"></script>
    <script src="../../classes/Button.js"></script>
    <script src="../../classes/Post.js"></script>
    <script src="../../classes/Author.js"></script>
    <script src="../../classes/PostList.js"></script>
    <script src="../../classes/Field.js"></script>
    <script src="../../classes/Image.js"></script>
    <script src="../../classes/Form.js"></script>
    <script src="../../classes/Label.js"></script>
    <script src="../../classes/Input.js"></script>
    <script src="../../classes/Time.js"></script>
    <script src="../../classes/Footer.js"></script>
    <script src="../../classes/Separator.js"></script>

    <script src="../../util/formatTime.js"></script>
    <script src="../../util/generateId.js"></script>

    <script src="../../logic/index.js"></script>
    <script src="../../logic/editPost.js"></script>
    <script src="../../logic/getUserUsername.js"></script>
    <script src="../../logic/setAllPosts.js"></script>
    <script src="../../logic/getAllPosts.js"></script>
    <script src="../../logic/deletePosts.js"></script>
    <script src="../../logic/addPost.js"></script>
    <script src="../../logic/getUserName.js"></script>
    <script src="../../logic/logoutUser.js"></script>
    <script src="../../logic/togglePostLike.js"></script>
    <!-- <script src="../../logic/addPostLike.js"></script>
    <script src="../../logic/removePostLike.js"></script> -->
    <script src="../../logic/hasLikedPost.js"></script>
    <script src="../../logic/getIntervalID.js"></script>
    <script src="../../logic/setIntervalID.js"></script>
    <script src="../../logic/addSavedPost.js"></script>
    <script src="../../logic/removeSavedPost.js"></script>
    <script src="../../logic/getAllPostIDs.js"></script>
    <script src="../../logic/getUserSavedPosts.js"></script>
    <script src="../../logic/hasPostSaved.js"></script>

    <script src="index.js"></script>
</body>

</html>