@import url('../app/view/components/Button.css');
@import url('../app/view/components/Container.css');
@import url('../app/view/components/Form.css');
@import url('../app/view/components/Heading.css');
@import url('../app/view/components/Image.css');
@import url('../app/view/components/Input.css');
@import url('../app/view/components/Label.css');
@import url('../app/view/components/Paragraph.css');
@import url('../app/view/components/Time.css');
@import url('./view/home/components/CreatePost.css');
@import url('./view/home/components/Footer.css');
@import url('./view/home/components/Header.css');
@import url('./view/home/components/Post.css');
@import url('./view/home/components/PostList.css');
@import url('./view/home/components/Avatar.css');

body {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.view {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 1.1rem;
}


.main {
    margin-top: 3.5rem;
    margin-bottom: 3rem;
}