.Button {
    border-radius: 3px;
    border: .5px solid slategray;
    padding: .2rem;
    width: 60px;
    height: 24px;
    color: black;
    padding: 0;
}

.Button--logout {
    margin-right: 10px;
}

.Container--top .Button {
    background-color: transparent;
    padding: 0 6px;
    margin: 6px 18px;
}

.Button--author {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: inherit;
    margin: 5px;
    border: 0;
}

.Button--author .Heading {
    margin: 8px;
    font-weight: bolder;
    font-size: larger;
    background-color: inherit;
    border: 0;
    color: white;
}

.Container--options .Button {
    border-radius: 3px;
    border: .5px solid slategray;
    padding: .2rem;
}

.Container--options .Button:hover {
    background-color: rgb(253, 157, 106);
}

/*<<<<<<<<<<<<<<<<<<< Footer Buttons >>>>>>>>>>>>>>>>>>>>>>>>*/
/** home button **/
.Button--home {
    margin: 5px;
    display: inline-block;
    width: 30px;
    height: 30px;
    aspect-ratio: 1;
    clip-path: polygon(50% 0%, 100% 30%, 100% 100%, 0% 100%, 0% 30%);
    border: 0px;
    background-color: white;
}


/** search button **/
.Button--search {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    background-repeat: no-repeat;
    background-color: inherit;
    background-image: radial-gradient(circle at center, transparent 0 30%, white 30% 50%, transparent 50% 100%),
        linear-gradient(145deg, #321cfe 0 70%, transparent 70% 85%, #1d10fe 85% 100%),
        linear-gradient(55deg, transparent 0 45%, white 45% 55%, transparent 55% 100%);
}

.Button--search--active {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    background-repeat: no-repeat;
    background-color: inherit;
    background-image: radial-gradient(circle at center, transparent 0 30%, rgb(59 59 59) 30% 50%, transparent 50% 100%),
        linear-gradient(145deg, #321cfe 0 70%, transparent 70% 85%, #1d10fe 85% 100%),
        linear-gradient(55deg, transparent 0 45%, rgb(59 59 59) 45% 55%, transparent 55% 100%);
}

/** add-post button **/
.Button--add--post {
    margin: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid black;
    /* background-image: linear-gradient(90deg, transparent 0 45%, black 45% 55%, transparent 55% 100%),
        linear-gradient(180deg, white 0 43%, black 43% 55%, white 55% 100%); */
}

/** followed posts button **/
.Button--followed {
    display: inline-block;
    margin: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    background-color: white;
    background-image: url('../../images/usuarios-alt.svg');
    background-position: 50% 55%;
    background-size: 70%;
    background-repeat: no-repeat;
}

/** saved-list button **/
.Button--saved {
    display: inline-block;
    margin: 5px;
    width: 30px;
    height: 30px;
    aspect-ratio: 1;
    clip-path: polygon(0% 0%, 0% 100%, 50% 70%, 100% 100%, 100% 0%);
    border: 0px;
    background-color: white;
}



.active {
    background-color: rgb(59 59 59);
}