.Paragraph {
    font-family: inherit;
    margin: .5rem;
}

.Paragraph--center {
    text-align: center;
}

.Paragraph--likes {
    font-size: small;
    color: dimgray;
}

.Header .Paragraph {
    color: white;
}