@import url(../components/Button.css);
@import url(../components/Input.css);
@import url(../components/Label.css);
@import url(../components/Form.css);
@import url(../components/Time.css);
@import url(../components/Image.css);
@import url(../components/Paragraph.css);
@import url(../components/Container.css);
@import url(../components/Heading.css);

@import url(./components/Header.css);
@import url(./components/Footer.css);
@import url(./components/CreatePost.css);
@import url(./components/Post.css);
@import url(./components/PostList.css);
@import url(./components/CreatePost.css);

.view {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 1.1rem;
}

.form__field,
label,
input {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    font-weight: bold;
    font-family: solid Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 3px;
}

.form__input {
    font-size: inherit;
}

.form__button {
    font-size: inherit;
    background-color: #f7bff8;
    border-radius: 5px;
    font-weight: bold;
    font-family: solid Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 70px;
    height: 30px;
}

.post-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* .post { */
/* border: 1px solid black; */
/* box-shadow: 1px 1px 10px 1px #F981FB
} */

/* .post__top {
    display: flex;
    margin: 0 .5rem;
    align-items: center;
    gap: .5rem
} */

.post__author {
    font-weight: bold;
    font-family: solid Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px
}

.post__image {
    width: 100%;
}

/* .post__caption {
    margin: .5rem;
} */

/* .post__actions {
    margin: .5rem;
    display: flex;
    gap: .5rem;
} */

/* .post__actions>button {
    background-color: #f7bff8;
    border-radius: 5px;
    font-weight: bold;
    font-family: solid Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

} */


.header__user-name {
    margin: 0;
    font-family: solid Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.main {
    margin-top: 3.5rem;
    margin-bottom: 3rem;
}