/*** add-post pop-up ***/
.newposts {
    position: fixed;
    height: 40%;
    width: 35%;
    min-width: 238px;
    min-height: 276px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    box-shadow: 1px 1px 10px 1px black;
    box-sizing: content-box;
    padding: 1rem 0 0 0;
    border-radius: 3%;
    z-index: 3;
}

.newposts * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lucida Console", "Courier New", monospace;
}

.newposts .Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 70%;
    box-sizing: content-box;
}

.newposts .Container--field {
    margin-top: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: .2rem;
    box-sizing: content-box;
}

.newposts input {
    top: 0;
    left: 0;
    background-color: transparent;
}

.newposts label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #000000;
    font-size: 20px;
    pointer-events: none;
    transition: 0.3s;
}

.newposts input {
    position: relative;
    width: 100%;
    height: 40px;
    border-radius: 6px;
    font-size: 18px;
    padding: 10px 10px;
    border: 2px solid slategray;
    background: transparent;
    color: #000000;
    outline: none;
}

.newposts input:focus {
    border: 3px solid rgb(64, 118, 255);
}

.newposts input:focus+label,
.newposts input:not(:placeholder-shown)+label {
    top: -6px;
    left: 10px;
    font-size: 16px;
    padding: 0 2px;
    background-color: white;
}

.newposts .Container--actions {
    margin-top: 15px;
    position: relative;
    display: flex;
    width: 100%;
    height: 30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: .2rem;
    box-sizing: content-box;
}

.newposts .Button {
    border-radius: 3px;
    border: .5px solid slategray;
    padding: .2rem;
    width: 60px;
    height: 24px;
    color: black;
    padding: 0;
}

/* .newposts .Button:hover {
    background-color: silver;
} */