/* Footer styles */
.Footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* background-color: #54d4c7; */
    /* background-color: #9E58F9; */
    background: linear-gradient(90deg, #9E58F9 0%, blue 40% 70%, #007FFF 90%);
    padding: 0.4rem 0;
    box-shadow: 0px -1px 3px slategray;
    z-index: 1;
}