body {
    margin: 0 0;
    display: block;
    /* background-color: skyblue; */
    background-color: #9E58F9;

}

hr {
    margin: 0;
}

.view {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 1.1rem;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    min-width: 80%;
    box-sizing: border-box;
}

.form__field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .2rem;
    box-sizing: border-box;
}

.form__input {
    font-size: inherit;
    box-sizing: border-box;
}

.form__button {
    font-size: inherit;
    box-sizing: border-box;
}

.post-list {
    display: flex;
    width: 60%;
    min-width: 310px;
    max-width: 650px;
    flex-direction: column;
    gap: 1rem;
}

.user-name {
    border: 0;
    background-color: inherit;
    font-weight: bolder;
    font-size: large;
    color: white;
}

.user-name:hover {
    color: magenta;
}

.post {
    box-shadow: 0px 0px 10px 1px black;
    border-radius: 2%;
    margin: 8px;
    background-color: white;
    box-sizing: content-box;
}

.post__author__div {
    display: flex;
    min-height: 27.6px;
    margin: 0.1rem 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.post__author {
    margin: 3px;
    margin-left: 3px;
    font-weight: bolder;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    border: 0;
}

.post__author__button {
    height: max-content;
    color: black;
    background-color: white;
    border: 0;
    margin-right: 10px;
    font-weight: bold;
}

.post__author:hover {
    color: magenta;
}

.post__author__button:hover {
    color: blue;
}

.post__image {
    display: block;
    width: 100%;
    max-height: 70vh;
    margin: 0 auto;
    padding: auto;
    background-color: black;
    box-sizing: border-box;
    border: 1px solid magenta
}

.post__caption {
    margin: .5rem;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.post__actions {
    margin: .5rem;
}

.post__time {
    display: block;
    margin: .5rem;
    color: slategray;
    font-size: .9rem;
}

.profile-field {
    background-color: skyblue;
    width: 70%;
    min-width: 310px;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile-info {
    background-color: skyblue;
    box-sizing: border-box;
    border-top: 1px solid black;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    height: 7%;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: rgb(17, 0, 0);
    gap: 1rem;
    box-shadow: 0px 1px 3px darkred;
    z-index: 1;
}

.main {
    margin-top: 3.5rem;
    margin-bottom: 3rem;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(17, 0, 0);
    padding: 0.4rem 0;
    box-shadow: 0px -1px 3px darkred;
    z-index: 1;
}

.newposts {
    position: fixed;
    height: 45%;
    width: 25%;
    min-width: 238px;
    min-height: 276px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 1px 1px 10px 1px black;
    box-sizing: border-box;
    border-radius: 3%;
    z-index: 3;
}

.newposts h2 {
    pointer-events: none;
}

.usersearch {
    position: fixed;
    height: 45%;
    width: 25%;
    min-width: 238px;
    min-height: 276px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 1px 1px 10px 1px black;
    box-sizing: border-box;
    border-radius: 3%;
    z-index: 3;
}

.usersearch h2 {
    pointer-events: none;
}

.fader {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    z-index: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    margin: 0.3rem;
}

/* heart button */

.like-button {
    border: 0;
    padding: 0;
    background-color: white;
    box-sizing: content-box;
}

.like-button-active {
    display: inline-block;
    width: 20px;
    aspect-ratio: 1;
    border-image: radial-gradient(red 69%, #0000 70%) 84.5%/50%;
    clip-path: polygon(-41% 0, 50% 91%, 141% 0);
    background-color: white;
}

.like-button-inactive {
    display: inline-block;
    width: 20px;
    aspect-ratio: 1;
    border-image: radial-gradient(silver 69%, #0000 70%) 84.5%/50%;
    clip-path: polygon(-41% 0, 50% 91%, 141% 0);
    background-color: white;
}

/* save button */

.save-button {
    border: 0;
    padding: 0;
    background-color: white;
    box-sizing: content-box;
}

.save-button-active {
    display: inline-block;
    width: 20px;
    height: 20px;
    aspect-ratio: 1;
    clip-path: polygon(0% 0%, 0% 100%, 50% 70%, 100% 100%, 100% 0%);
    border: 0px;
    background-color: black;
}

.save-button-inactive {
    display: inline-block;
    width: 20px;
    height: 20px;
    aspect-ratio: 1;
    clip-path: polygon(0% 0%, 0% 100%, 50% 70%, 100% 100%, 100% 0%);
    border: 0px;
    background-color: silver;
}



.like-counter {
    margin-left: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}

.add-post-button {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 1px solid darkmagenta;
}

/* home button */

.home-button {
    display: inline-block;
    width: 20px;
    height: 20px;
    aspect-ratio: 1;
    clip-path: polygon(50% 0%, 100% 30%, 100% 100%, 0% 100%, 0% 30%);
    border: 0px;
    background-color: white;
}

/* search button */

.search-button {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 1px solid darkmagenta;
    background-image: url('../../images/search.svg');
    background-position: 35% 30%;
    background-size: 70%;
    background-repeat: no-repeat;
}

/* followed posts button */

.followed-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 1px solid darkmagenta;
    background-image: url('../../images/usuarios-alt.svg');
    background-position: 50% 50%;
    background-size: 70%;
    background-repeat: no-repeat;
}