/* Header styles */

.header {
    position: fixed;
    left: 0;
    top: 0;
    height: 6%;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: #54d4c7;
    gap: 1rem;
    box-shadow: 0px 1px 3px slategray;
    z-index: 1;
}

.user-name {
    border: 0;
    background-color: inherit;
    font-weight: bolder;
    font-size: large;
    color: rgb(59 59 59);
}

/* Footer styles */

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #54d4c7;
    padding: 0.4rem 0;
    box-shadow: 0px -1px 3px slategray;
    z-index: 1;
}


/** home button **/
.home-button {
    margin: 5px;
    display: inline-block;
    width: 30px;
    height: 30px;
    aspect-ratio: 1;
    clip-path: polygon(50% 0%, 100% 30%, 100% 100%, 0% 100%, 0% 30%);
    border: 0px;
    background-color: white;
}


/** search button **/
.search-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    background-repeat: no-repeat;
    background-color: inherit;
    background-image: radial-gradient(circle at center, transparent 0 30%, white 30% 50%, transparent 50% 100%),
        linear-gradient(145deg, #54d4c7 0 55%, transparent 55% 80%, #54d4c7 80% 100%),
        linear-gradient(55deg, transparent 0 45%, white 45% 55%, transparent 55% 100%);
}

.search-button-active {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    background-repeat: no-repeat;
    background-color: inherit;
    background-image: radial-gradient(circle at center, transparent 0 30%, rgb(59 59 59) 30% 50%, transparent 50% 100%),
        linear-gradient(145deg, #54d4c7 0 55%, transparent 55% 80%, #54d4c7 80% 100%),
        linear-gradient(55deg, transparent 0 45%, rgb(59 59 59) 45% 55%, transparent 55% 100%);
}

/*** search user pop-up ***/
.usersearch {
    position: fixed;
    height: 250px;
    width: 22%;
    min-width: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(252, 177, 252);
    box-shadow: 1px 1px 10px 1px black;
    box-sizing: border-box;
    border-radius: 3%;
    z-index: 3;
}

.usersearch * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lucida Console", "Courier New", monospace;
}

.usersearch .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 70%;
    box-sizing: content-box;
}

.usersearch .form__field {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: .2rem;
    box-sizing: content-box;
}

.usersearch input {
    top: 0;
    left: 0;
    background-color: transparent;
}

.usersearch label {
    position: absolute;
    top: 13px;
    left: 10px;
    color: #000000;
    font-size: 25px;
    pointer-events: none;
    transition: 0.3s;
}

.usersearch input {
    position: relative;
    width: 100%;
    height: 50px;
    border-radius: 6px;
    font-size: 18px;
    padding: 10px 10px;
    border: 2px solid rgb(64, 118, 255);
    background: transparent;
    color: #000000;
    outline: none;
}

.usersearch input:focus {
    border: 3px solid red;
}

.usersearch input:focus+label {
    top: -8px;
    left: 10px;
    font-size: 16px;
    padding: 0 2px;
    background-color: rgb(252, 177, 252);
}

.usersearch .form__actions {
    margin-top: 15px;
    position: relative;
    display: flex;
    width: 100%;
    height: 30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: .2rem;
    box-sizing: content-box;
}

.usersearch .form__button {
    font-size: inherit;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 0;
    color: white;
    background-color: darkblue;
}

.usersearch .form__button:hover {
    background-color: silver;
}




/** add-post button **/
.add-post-button {
    margin: 5px;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    border: 2px solid white;
    background-image: linear-gradient(90deg, transparent 0 45%, black 45% 55%, transparent 55% 100%),
        linear-gradient(180deg, white 0 43%, black 43% 55%, white 55% 100%);
}

/*** add-post pop-up ***/
.newposts {
    position: fixed;
    height: 45%;
    width: 35%;
    min-width: 238px;
    min-height: 276px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(252, 177, 252);
    box-shadow: 1px 1px 10px 1px black;
    box-sizing: content-box;
    padding: 1rem 0;
    border-radius: 3%;
    z-index: 3;
}

.newposts * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lucida Console", "Courier New", monospace;
}

.newposts .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 70%;
    box-sizing: content-box;
}

.newposts .form__field {
    margin-top: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: .2rem;
    box-sizing: content-box;
}

.newposts input {
    top: 0;
    left: 0;
    background-color: transparent;
}

.newposts label {
    position: absolute;
    top: 13px;
    left: 10px;
    color: #000000;
    font-size: 25px;
    pointer-events: none;
    transition: 0.3s;
}

.newposts input {
    position: relative;
    width: 100%;
    height: 50px;
    border-radius: 6px;
    font-size: 18px;
    padding: 10px 10px;
    border: 2px solid slategray;
    background: transparent;
    color: #000000;
    outline: none;
}

.newposts input:focus {
    border: 3px solid rgb(64, 118, 255);
}

.newposts input:focus+label,
.newposts input:not(:placeholder-shown)+label {
    top: -8px;
    left: 10px;
    font-size: 16px;
    padding: 0 2px;
    background-color: rgb(252, 177, 252);
}

.newposts .form__actions {
    margin-top: 15px;
    position: relative;
    display: flex;
    width: 100%;
    height: 30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: .2rem;
    box-sizing: content-box;
}

.newposts .form__button {
    font-size: inherit;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 0;
    color: white;
    background-color: darkblue;
}

.newposts .form__button:hover {
    background-color: silver;
}


/** followed posts button **/
.followed-button {
    display: inline-block;
    margin: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    background-image: url('../../images/usuarios-alt.svg');
    background-position: 50% 55%;
    background-size: 70%;
    background-repeat: no-repeat;
}

/** saved-list button **/
.saved-list-button {
    display: inline-block;
    margin: 5px;
    width: 30px;
    height: 30px;
    aspect-ratio: 1;
    clip-path: polygon(0% 0%, 0% 100%, 50% 70%, 100% 100%, 100% 0%);
    border: 0px;
    background-color: white;
}



.active {
    background-color: rgb(59 59 59);
}



/** background fader **/
.fader {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    z-index: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





/* Body styles */

body {
    margin: 0;
    min-width: 100%;
    min-height: 100vh;
    display: block;
    background: white;
    font-family: "Lucida Console", "Courier New", monospace;
}

h2 {
    margin: 12px 0;
}

.main {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.view {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 1.1rem;
}

.post-list {
    display: flex;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    width: 98%;
    min-width: 310px;
    max-width: 480px;
    flex-direction: column;
    gap: 1rem;
}


/* post styles */
.post {
    box-shadow: 0px 0px 10px 2px slategray;
    border-radius: 5px;
    background-color: white;
    box-sizing: content-box;
}

.post__author__div {
    display: flex;
    min-height: 27.6px;
    margin: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: repeating-linear-gradient(125deg, rgba(158, 88, 249, 0.7) 0%, rgba(200, 52, 205, 0.7) 33%, rgba(0, 127, 255, 0.4) 50%, rgba(0, 72, 255, 0.4) 66%, rgba(158, 88, 249, 0.4) 100%);
}

.post__author {
    margin: 3px;
    margin-left: 3px;
    font-weight: bolder;
    font-size: larger;
    background-color: inherit;
    border: 0;
}

.post__image {
    display: block;
    width: 100%;
    max-height: 70vh;
    margin: 0 auto;
    padding: auto;
    background-color: black;
    box-sizing: border-box;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.post__actions {
    display: flex;
    flex-direction: row;
    gap: .7rem;
    margin: .7rem;
}

/* heart button */

.like-button {
    border: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: white;
    box-sizing: content-box;
}

.like-button-active {
    display: inline-block;
    width: 24px;
    height: 24px;
    aspect-ratio: 1;
    border-image: radial-gradient(red 69%, #0000 70%) 84.5%/50%;
    clip-path: polygon(-41% 0, 50% 91%, 141% 0);
    background-color: white;
}

.like-button-inactive {
    display: inline-block;
    width: 24px;
    height: 24px;
    aspect-ratio: 1;
    border-image: radial-gradient(silver 69%, #0000 70%) 84.5%/50%;
    clip-path: polygon(-41% 0, 50% 91%, 141% 0);
    background-color: white;
}

/* save button */

.save-button {
    border: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: white;
    box-sizing: content-box;
}

.save-button-active {
    display: inline-block;
    width: 24px;
    height: 24px;
    aspect-ratio: 1;
    clip-path: polygon(0% 0%, 0% 100%, 50% 70%, 100% 100%, 100% 0%);
    border: 0px;
    background-color: black;
}

.save-button-inactive {
    display: inline-block;
    width: 24px;
    height: 24px;
    aspect-ratio: 1;
    clip-path: polygon(0% 0%, 0% 100%, 50% 70%, 100% 100%, 100% 0%);
    border: 0px;
    background-color: silver;
}


hr {
    margin: 0;
}

.like-counter {
    margin-left: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}

.post__caption {
    font-size: inherit;
    margin: .5rem;
    margin-top: 20px;
    font-family: inherit;
}

.post__time {
    display: block;
    margin: .5rem;
    color: slategray;
    font-size: .9rem;
}

.post__options {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    box-sizing: content-box;
    gap: 0.7rem;
}

.post__options .form__button {
    border-radius: 3px;
    border: 1px solid lightgray;
}

.post__options .form__button:hover {
    background-color: tomato;
}

.edit {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.2rem;
}

.edit input {
    border-radius: 3px;
    border: 1px solid lightgray;
    padding: 1px;
}

.edit label {
    color: silver;
}