.Like--button {
    border: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: white;
    box-sizing: content-box;
}

.Like--active {
    display: inline-block;
    width: 24px;
    height: 24px;
    aspect-ratio: 1;
    border-image: radial-gradient(red 69%, #0000 70%) 84.5%/50%;
    clip-path: polygon(-41% 0, 50% 91%, 141% 0);
    background-color: white;
}

.Like--inactive {
    display: inline-block;
    width: 24px;
    height: 24px;
    aspect-ratio: 1;
    border-image: radial-gradient(silver 69%, #0000 70%) 84.5%/50%;
    clip-path: polygon(-41% 0, 50% 91%, 141% 0);
    background-color: white;
}